<section>
<h1>Public Recipes</h1>
<% if @public_recipes.exists? %>
<% @public_recipes.each do |recipe| %>
<li>
<h1><%= recipe.name%></h1>
<p>by: <%= recipe.user.name %> </p>
<p>Total food items: <%= recipe.recipe_food.count %></p>
<% recipe.recipe_food.each  do |recipefoods| %>
<h6 class='total'>$ <%= recipefoods.quantity * recipefoods.food.price %></h6>
<% end %>
</li>
<% end %>
<% else %>
      <h2>No recipes availabale!!</h2>
     <% end %>  

     <button class='btn'>
<%= link_to 'back', recipes_path %>
</button>
</section>

