<section class='food-form-container'>
<h1>New Recipe</h1>
<%= form_with model: @recipe, url: recipes_path do |form| %>
  <div class='form-item'>
    <%= form.label :name , class: 'form-label'%>
    <%= form.text_field :name, class:"input-form" %>
  </div>
  <div class='form-item'>
    <%= form.label :preparation_time , class: 'form-label' %>
    <%= form.text_field :preparation_time, class:"input-form" %>
  </div>
  <div class='form-item'>
    <%= form.label :cooking_time , class: 'form-label' %>
    <%= form.text_field :cooking_time, class:"input-form" %>
  </div>
  <div class='form-item'>
    <%= form.label :description , class: 'form-label' %>
    <%= form.text_area :description, class:"input-form" %>
  </div>   
<%= form.submit "Create Recipe", class:"input-form" %>
<% end %>
</section>
