<section>

<h1>Details of a Recipe</h1>

<%recipe = @recipe%>

<div class="recipe-container">
  <div class="name-box">
  <p class= "recipe-name"><%= link_to "#{recipe.preparation_time}", "#{recipes_path}/#{recipe.id}" %></p>
  </div>
  <div class="name-box">
  <p class= "recipe-name"><%= link_to "#{recipe.cooking_time}", "#{recipes_path}/#{recipe.id}" %></p>
  </div>
  <div class="name-box">
  <p class= "recipe-name"><%= link_to "#{recipe.description}", "#{recipes_path}/#{recipe.id}" %></p>
  </div>
  <div class="name-box">
  <p class= "recipe-name">steps go here </p>
  </div>
</div>
  <div class="recipe-btn">
  <%= button_to 'Generate Shopping List', recipes_path(@recipe), method: :get %>
  <%= button_to 'Add Ingredients', foods_path(@food), method: :get %>
  </div>

</section>